@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header -> NAV (menu padrão) -> UL e Li */
#navbar-header{
    
    background: url(./Imagens/BG-05.jpg);
    min-height: 380px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
/* segunda principal */
.nav-bar{
  
    display: flex;
    width: 100%;
    background:#ffffff;
    height: 40px;
    
}
.nav-inner{
    margin: auto;
    display: flex;
      
}
/* imagem logo */
.nav-brand img{
    margin: auto 10px;
}

/* ul */
.nav-circles{
    
    margin: 10px 0;
    padding: 0;
    font-family: Quicksand;    
   
}

.nav-list{
    display: inline;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    font-size: 14px;
}

.nav-bar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.login{
    
    margin: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color:  orange;
    color: white;
    height: 30px;
    width: 100px;
    cursor: pointer;

}   

.buscar{
    display:flex;
    justify-content: center;
    margin-top: 135px;
    
}
.procurar{
    
    padding: 10px;
    border: none;
    border-radius: 50px;
    color:rgb(124, 124, 124);
    font-size: 12px;
    width: 500px;

}
.btn-procurar{
    
    background: orange;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    transition: 1s all; 
    
}

.btn-procurar:hover{
    background: rgb(255, 144, 8);
    transform: scale (1);

}



/*section princpais */
main{
    margin: 50px;
}

.container{
   width: 940px;
   margin: auto;

}

.container h2{
   
    font-size: 18px;
    width: 15%;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px;
    background: orange;
    border-radius: 40px 5px;
    color: white;
    text-align: center;
    transition: all 1s;
    
}
.container h2:hover{
    border-radius: 5px 40PX;
    transform: scale (2);
    background: rgb(255, 144, 8);
    font-size: 19px;
    
}

.row-2{

   margin-top: 10px;
}
/* dentro do card */
.card{
      background: white;
      display: inline-block;
      border: rgb(0, 0, 0) solid 1px;
      margin-right: 5px;
      transition: transform .3s;
      margin-top: 10px;
}
.card:hover{
    transform: scale(1.1);
    border-radius: 10px;
    border:solid 1px rgb(255,144,8)
}

/* Imagem do Gabinete */
.img-produto{
    display: inline-block;
    width: 200px;
    margin: 10px 12px 0;
   
}

/* Valor do produto */
.card-value{
    color: darkorange;
    font-size: 25px;
    text-align: center;
    margin-bottom: px;
    cursor: pointer;
   
}
/* Logo do lugar onde esta sendo referenciado o produto */
.card-logo{
    display: inline;
    float: left;
    border-radius: 80%;
    width: 30px;
    margin-left: 5px;    
    margin-bottom: -50px;

}
/* edição paragrafo que faz parte da CLASS - LOGO*/
.card-text{
    
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    clear: both;
}

#promocao{
    border: solid 1px red;
    margin-top: 15px;
    padding: 15px;
}
#promocao .container h2{

    font-size: 18px;
    background: rgb(248, 56, 56);
    border-radius: 40px 5px;
    color: white;
    text-align: center;
    transition: border 1s;        
}
/* seção promoção */
#promocao .container h2:hover{
    border-radius: 5px 40PX;
    transform: scale (2);
    background: rgb(255, 8, 8);
    font-size: 19px;
    
}

#promocao .card:hover{
        background: red;
        transform: scale(1.1);
        border-radius: 10px;
        border:solid 1px rgb(255, 8, 8);
        color: white;
        
}
#promocao .card-value{
    background: red;
    color: white;
}


footer{
    background:#0b0c0c;
    width: 100%;
    text-align: center;
    position: absolute;
}
footer img{
    display: inline;
    float: left;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    position: relative;
    
}
.footer-info{
    margin-right: 100px;
    display: inline;
    float: right;
    margin-top: 11px;
    color: white;  
    font-size: 15px;  
    
}
.footer-info li{
    display: inline;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    list-style: none;
}
