body{
    
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Inicio do header */

/* Background header */
.hero{
   
    width: 100%;
    background-image: url(./Imagens/BG-05.jpg);
    background-size: cover;
    height: 500px;
    
    
    
}

/* Edição do H1 */
.hero-text h1{
   
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0.8;
    margin-top: 100px;
    padding: 8px;
    text-align: left;
    text-transform: uppercase;
    width:1px;
    
}
#nav-main{
    
    margin-top: 0;
    background-color:white;
    width: 100%;
    background-size: cover;
}

/* Header -> NAV (menu padrão) -> UL e Li */
ul{
   
    z-index: 1;
    padding: 10px;
    text-align: center;
    
    
}
/* Não esquecer de colocar os links */
li{
    
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 0;
    padding: 0 50px;
    cursor: pointer;
}
/* final do header */
a{
    text-decoration: none;
    color: #333;
    
}
a:visited{
    color: #3C1A7D;
}

a:hover{
    color: #2387f1;
}

/* #gabinete - edição geral do card */

#gabinete, #placamae {
    
    margin:auto;
    width: 80%;
}

h2{
    border: 2px #248eff solid;
    width: 5px;
}
/* dentro do card */

.card{
    
    border: rgb(73, 73, 73) solid 1px;
    display: inline-block;
    margin-top: 10px;

}

/* Imagem do Gabinete */
.img-gab{
    filter: contrast(80%);
    filter: saturate(75%);
    filter:opacity(75%);
    width: 18em;
}
.img-gab:hover{
    filter:none;
    margin: auto;
}

/* Valor do produto */
.card-value{
    
    background: #2387f1;
    color: white;
    font-size:30px;
    margin-top: 0;
    text-align: center;
    padding: 1px 30px;
}
.card-value:hover{
    background-color: #4ca1fc;
}

/* Logo do lugar onde esta sendo referenciado o produto */
.card-logo{
    border-radius: 80%;
    float: left;
    width: 2em;
    padding: 5px;
    display: block;
    
    
}
/* edição paragrafo que faz parte da CLASS - LOGO*/
.card-text{
    clear: right;
    font-size: 15px;
    font-weight: bold;
        
}




                    CHEIRO DE CU